<html lang='en'>

<head>
    {{> private/head}}
    <title>Organizr - Projeto "{{project/name}}" - Item "{{item/name}}"</title>
</head>

<body class="min-vh-100 d-flex flex-column">
    {{> private/header page='projects'}}

    <div class="container my-5 flex-grow-1">
        <div class="row justify-content-between">
            <div class="col-auto">
                <a class="display-6 text-decoration-none mb-2 d-inline-block"
                    href="/app/projects/s/{{project/slug}}">{{project/name}}</a>
                <h1 class="display-6">
                    <i class="bi bi-arrow-return-right fs-3"></i>
                    <span>{{item/name}}</span>
                    {{#if item/finishedAt}}
                    <span class="fs-3 text-success">
                        <i class="bi bi-check2"></i>
                    </span>
                    {{/if}}
                </h1>
            </div>
            <div class="col-12">
                <hr>
                <div class="row justify-content-between align-items-center gx-5">
                    <div class="col-auto">
                        <div class="d-inline-flex flex-column">
                            <small class="text-muted">Status</small>
                            {{#if item/finishedAt}}
                            <span class="text-success">
                                <span>Concluído</span>
                                <i class="bi bi-check2"></i>
                            </span>
                            {{else}}
                            <span>
                                Em Progresso
                            </span>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="d-inline-flex flex-column">
                            <small class="text-muted">Projeto</small>
                            <div class="d-flex align-items-center gap-2">
                                <div class="d-inline-block p-1 rounded-3" style="background-color: {{project/color}}">
                                </div>
                                <a class="text-decoration-none"
                                    href="/app/projects/s/{{project/slug}}">{{project/name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="d-inline-flex flex-column">
                            <small class="text-muted">Integrações</small>
                            {{#isEmpty itemIntegrations}}
                            <span>Nenhuma</span>
                            {{else}}
                            <ul class="list-unstyled">
                                {{#forEach itemIntegrations}}
                                <li>
                                    <img src="{{integration/thumbnailUrl}}" alt="{{integration/name}} logo" height="16">
                                    <small>{{integration/name}}</small>
                                </li>
                                {{/forEach}}
                            </ul>
                            {{/isEmpty}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="d-inline-flex flex-column">
                            <small class="text-muted">Ações</small>
                            <div class="d-flex flex-sm-nowrap gap-3">
                                <form action="/app/items/finish" method="post" class="d-inline-block mb-0">
                                    <input type="hidden" name="id" value="{{item/id}}">
                                    <input type="hidden" name="finished"
                                        value="{{#if item/finishedAt}}false{{else}}true{{/if}}">
                                    <label>
                                        <button type="submit"
                                            class="btn btn-link text-decoration-none border-0 p-0 shadow-none">
                                            {{#if item/finishedAt}}
                                            <span>Reverter</span>
                                            <i class="bi bi-arrow-counterclockwise"></i>
                                            {{else}}
                                            <span>Concluir</span>
                                            <i class="bi bi-check2"></i>
                                            {{/if}}
                                        </button>
                                    </label>
                                </form>
                                <form action="/app/items/delete" method="post" class="d-inline-block mb-0">
                                    <input type="hidden" name="id" value="{{item/id}}">
                                    <label>
                                        <button type="submit"
                                            class="btn btn-link text-danger text-decoration-none border-0 p-0 shadow-none">
                                            <span>Remover</span>
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if itemIntegrationsDto/googleCalendar/enabled}}
            <div class="col-12">
                <hr>
                <form action="/app/items/{{item/id}}/integrations/google-calendar" method="post"
                    class="row justify-content-start gx-3 mb-0">
                    {{#with itemIntegrationsDto/googleCalendar}}
                    <div class="col-auto pe-5">
                        <small class="text-muted">Fornecido por</small>
                        <span class="fs-6 d-block">
                            {{integration/name}}
                        </span>
                    </div>
                    <input type="hidden" name="timeZone" value="{{value/start/timeZone}}">
                    <div class="col-12 col-sm-6 col-md-3">
                        <label for="start" class="form-label">Início</label>
                        <input type="datetime-local" class="form-control" id="start" name="start"
                            value="{{value/start/dateTimeLocal}}">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 offset-sm-6 offset-md-0">
                        <label for="end" class="form-label">Fim</label>
                        <input type="datetime-local" class="form-control" id="end" name="end"
                            value="{{value/end/dateTimeLocal}}">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 offset-sm-6 offset-md-0">
                        <div class="row gx-3 mt-4 pt-sm-2 justify-content-sm-end justify-content-md-start">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">
                                    <span>Salvar</span>
                                    <i class="bi bi-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {{/with}}
                </form>
            </div>
            {{/if}}
            <div class="col-12">
                <hr>
                <code>TODO 🚧</code>
            </div>
        </div>
    </div>

    {{> private/footer}}
</body>

</html>